<!--%p.tag_list_box-->
<%# animal.tags.each do |tag| %>
  <%#= link_to "##{tag.tag_name}", animals_path(tag), class: 'smaller tag_list' %>
<%# end %>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<h2>動物園一覧</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>動物園名</th>
      <th>人気動物</th>
      <th>何種類</th>
      <th>主な動物</th>
      <th>五段階評価</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @zoos.each do |zoo| %>
    <tr>
      <td><%= zoo.name %></td>
      <td><%= zoo.favorite %></td>
      <td></td>
      <td></td>
      <td><%= zoo.assessment %></td>
      <td>
        <%= link_to zoo_path(zoo) do %>
          もっと詳しく
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>


<% @animals.each do |list| %>
  <%= list.name %>
  <%="(#{list.zoos.count})" %>
<% end %>

<% @zoos.each do |zoo| %>
  <i class="fas fa-tag">
    <%= zoo.animals.map(&:name).join(',') %>
  </i>
<% end %>