

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon">zoo</span>
</button>

<h2></h2>
<p></p>

<% @tags.each do |tag| %>
  <%= list.name %>
  <%= "(#{list.animals.count})" %>
<% end %>

<% @animals.each do |animal| %>
  <i class="fas fa-tag"><%= animal.tags.map(&:name).join(',') %></i>
<% end %>

<% form_with model: [@tags, @animals],  url: zoos_path, local: true do |f| %>
  <%= f.text_field :tag_name, placeholder:"お気に入りの動物から動物園を探す", class: 'uk-input' %><br>
  <%= f.text_field :title, placeholder:"動物検索", class: 'uk-input' %>
  <%= f.submit "検索" %>
<% end %>

<!--%li.search_friend_by_categorize-->
<!--  .uk-text-secondary.uk-text-bold-->
<!--    タグで探す-->
<!--  %ul.uk-flex.uk-flex-wrap-->
<% @tags.each do |tag| %>
  <%= link_to animal.tag_name, animals_path(tag_id: animal.id), class: 'tags' %>
<% end %>